<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>${{ env.EXPORT_METHOD }}</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.cdjs.calendar</key>
        <string>${{ env.PROFILE_UUID }}</string>
    </dict>
    <key>teamID</key>
    <string>${{ secrets.APPLE_TEAM_ID }}</string>
    <key>signingCertificate</key>
    <string>${{ env.SIGNING_CERTIFICATE }}</string>
</dict>
</plist> 